.logo {
  width: 60px;
  height: 60px;
}
.mynavbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbg {
  background-color: #00283e;
}
.btn-reg {
  margin-right: 20px;
  color: "blue";
  height: 40px;
  width: 140px;
  border: 1px solid "blue";
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  cursor: pointer;
  font-stretch: extra-expanded;
  transition: 0.2s;
}
.btn-reg:hover {
  color: #fff;
  background-color: "blue";
}
.nav-t {
  margin-left: 10px;
}

.vl {
  margin-left: 100px;
  margin-right: 100px;
  border-left: 2px solid gray;
  height: 50px;
}
.red {
  color: brown;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}
.form-elegant .font-small {
  font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
  -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
  box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26),
    0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
  box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28),
    0 4px 15px 0 rgba(36, 133, 255, 0.15);
}
.blue {
  color: rgb(0, 30, 128);
}
