.container-dash {
  width: 80%;
}
.container-charts {
  text-align: center;
}
.charts {
  display: flex;
  justify-content: space-around;
}
.chart {
  text-align: center;
}
.vl {
  margin-top: 70px;
  border-left: 2px solid gray;
  height: 100px;
}
.subtitle {
  color: #005a8c;
}
.twoTabels {
  display: flex;
}
.benefi {
  margin-right: 50px;
  width: flex;
}
.trans {
  margin-left: 50px;
}
